{% extends 'base.html' %}

{% block content %}

<div class="hero text-center">

    <h1 class="display-3 fw-bold">
        ☀ SolarMonitorPro
    </h1>

    <p class="lead mt-3">
        Custom Solar Monitoring Dashboard
    </p>

    <a href="#" class="btn btn-success btn-lg mt-3">
        Login
    </a>

</div>

<div class="row mt-5">

    <div class="col-md-4">

        <div class="card p-4">

            <h3>⚡ Live Monitoring</h3>

            <p>
                Monitor Voltage, Current,
                Power and Temperature.
            </p>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card p-4">

            <h3>📊 Reports</h3>

            <p>
                Daily Monthly Yearly Reports.
            </p>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card p-4">

            <h3>🚨 Alerts</h3>

            <p>
                Receive live notifications.
            </p>

        </div>

    </div>

</div>

{% endblock %}